.container {
  overflow-y: scroll;
  height: 100%;
}

.infoList {
  display: flex;
  overflow-x: scroll;
  align-items: center;

  :first-child {
    margin-left: 0;
  }
}

.infoItem {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 120px;
  width: 120px;
  height: 120px;
  background-color: red;
  border-radius: 10px;
  margin-left: 10px;
}

.infoItemName {
  text-align: center;
  margin: 2px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.moreItemText {
  text-decoration: none;
  color: black;
}
